{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}"> Déconnexion</a>
        </div>
    {% endif %}
    <div class="min-h-screen p-6 bg-gray-100 flex items-center justify-center">
        <div class="container max-w-screen-lg mx-auto">
            <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
                    <div class="text-gray-600">
                        <h1 class="h3 mb-3 font-bold">Connectez vous...</h1>
                    </div>
                    <div class="lg:col-span-2">
                        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                            <div class="md:col-span-5">
                                <label for="inputUsername">Nom</label>
                                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control h-10 border mt-1 rounded px-4 w-full bg-gray-50" autocomplete="username" required autofocus>
                            </div>
                            <div class="md:col-span-5">
                                <label for="inputPassword">Mot de passe</label>
                                <input type="password" name="password" id="inputPassword" class="form-control h-10 border mt-1 rounded px-4 w-full bg-gray-50" autocomplete="current-password" required>
                            </div>
                            <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                            >
                            <div class="md:col-span-5 text-right">
                                <div class="inline-flex items-end justify-between">
                                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-4" type="submit">
                                        Connexion
                                    </button>
                                    <a class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" href="{{ path('app_home') }}">
                                        Retour
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
